/aeronav_copyright.txt
/AeroNav_LPPC_by_Aerosoft_NavDataPro.txt
/AeroNav_sector_provider.txt
/CacheXDll.dll
/CacheXDll.pdb
/Default.prf
/EuroScope - EULA.doc
/EuroScope.exe
/EuroScope.pdb
/euroscope_sector_providers.txt
/EuroScopeFsdServer.exe
/EuroScopeFsxConnector.exe
/EuroScopePlugIn.h
/EuroScopePlugInDll.dll
/EuroScopePlugInDll.lib
/EuroScopePlugInDll.pdb
/HoldingListPlugin.dll
/ipaddr.txt
/landline_request.wav
/LPPC-Package_20200523175913-200601-0002.ese
/LPPC-Package_20200523175913-200601-0002.sct
/LPPC-Package_20200525172904-200601-0006.ese
/LPPC-Package_20200525172904-200601-0006.sct
/LPPC-Package_20200609134029-200601-0015.ese
/LPPC-Package_20200609134029-200601-0015.sct
/LPPC-Package_20200616120239-200601-0003.ese
/LPPC-Package_20200616120239-200601-0003.sct
/LPPC-Package_20200618163935-200701-0001.ese
/LPPC-Package_20200618163935-200701-0001.sct
/LPPC-Package_20200618163946-200701-0001.ese
/LPPC-Package_20200618163946-200701-0001.sct
/LPPC-Package_20200624132553-200701-0002.ese
/LPPC-Package_20200624132553-200701-0002.sct
/LPPC-Package_20200624175839-200701-0003.ese
/LPPC-Package_20200624175839-200701-0003.sct
/LPPC-Package_20200717114505-200801-0001.ese
/LPPC-Package_20200717114505-200801-0001.sct
/LPPC-Package_20200721185409-200801-0002.ese
/LPPC-Package_20200721185409-200801-0002.sct
/LPPC-Package_20200727161815-200801-0003.ese
/LPPC-Package_20200727161815-200801-0003.sct
/LPPC-Package_20200731220509-200801-0005.ese
/LPPC-Package_20200731220509-200801-0005.sct
/LPPC-Package_20200807105251-200801-0009.ese
/LPPC-Package_20200807105251-200801-0009.sct
/LPPC-Package_20200823110953-200901-0002.ese
/LPPC-Package_20200823110953-200901-0002.sct
/LPPC-Package_20200823111552-200901-0001.ese
/LPPC-Package_20200823111552-200901-0001.rwy
/LPPC-Package_20200823111552-200901-0001.sct
/LPPC-Package_20200830134643-200901-0004.ese
/LPPC-Package_20200830134643-200901-0004.sct
/LPPC-Package_20200909130217-200901-0007.ese
/LPPC-Package_20200909130217-200901-0007.sct
/LPPC-Package_20200917024907-201001-0001.ese
/LPPC-Package_20200917024907-201001-0001.sct
/LPPC-Package_20201006120208-201001-0002.ese
/LPPC-Package_20201006120208-201001-0002.sct
/LPPC-Package_20201007185027-201001-0008.ese
/LPPC-Package_20201007185027-201001-0008.sct
/LPPC-Package_20201007192502-201001-0003.ese
/LPPC-Package_20201007192502-201001-0003.sct
/LPPC-Package_20201007193903-201001-0005.ese
/LPPC-Package_20201007193903-201001-0005.sct
/LPPC-Package_20201007210351-201001-0006.ese
/LPPC-Package_20201007210351-201001-0006.sct
/LPPC-Package_20201020002018-201101-0007.ese
/LPPC-Package_20201020002018-201101-0007.rwy
/LPPC-Package_20201020002018-201101-0007.sct
/LPPTGNDTWR21.txt
/LPPTGNDTWR21LVO.txt
/mfc100.dll
/mfc140.dll
/msvcp100.dll
/msvcp140.dll
/msvcr100.dll
/NewScenarioFile.txt
/Occ.dll
/PrecisionApproachPlugIn.dll
/SectorFileProviderDescriptor.txt
/slp.dll
/TestPlugIn.dll
/TowerViewConnectorPlugIn.dll
/ts3client_win32.dll
/ts3server_win32.dll
/vcruntime140.dll
/version.txt
/PlugInEnvironment
/soundbackends
/Sounds
/0LPPTGNDTWR21LVO.txt
/2LPPTGNDTWR21LVO.txt
/7za.exe
soundbackends
Sounds
PlugInEnvironment
libcrypto-1_1.dll
libcurl.dll
libssl-1_1.dll
*.ese
*.rwy
*.sct
/LPPC/Alias
/LPPC/ATIS
/LPPC/ICAO
/LPPC/NavData
DEVPROF.prf
LPPC/aeronav_copyright.txt
.gitignore
LPPC/LPPC VFR.pdf
LPPC/Alias v2.docx
LPPC/Plugins/AfvEuroScopeBridge.dll
LPPC/Plugins/CFlightType.dll
.gitignore
LPPC/Plugins/ESTagItems.dll
LPPC/Plugins/VCH.dll
LPPC/Plugins/ACDM/CDM_data_LPPT.txt
LPPC/Plugins/topsky/Documentation/Latex/TOPLIS/TOPLIS Manual.aux
.gitignore
LPPC/Plugins/topsky/Documentation/Latex/TOPLIS/TOPLIS Manual.bbl
LPPC/Plugins/topsky/Documentation/Latex/TOPLIS/TOPLIS Manual.bcf
LPPC/Plugins/topsky/Documentation/Latex/TOPLIS/TOPLIS Manual.blg
LPPC/Plugins/topsky/Documentation/Latex/TOPLIS/TOPLIS Manual.fdb_latexmk
LPPC/Plugins/topsky/Documentation/Latex/TOPLIS/TOPLIS Manual.fls
LPPC/Plugins/topsky/Documentation/Latex/TOPLIS/TOPLIS Manual.lof
LPPC/Plugins/topsky/Documentation/Latex/TOPLIS/TOPLIS Manual.log
LPPC/Plugins/topsky/Documentation/Latex/TOPLIS/TOPLIS Manual.lot
LPPC/Plugins/topsky/Documentation/Latex/TOPLIS/TOPLIS Manual.out
LPPC/Plugins/topsky/Documentation/Latex/TOPLIS/TOPLIS Manual.pdf
LPPC/Plugins/topsky/Documentation/Latex/TOPLIS/TOPLIS Manual.run.xml
LPPC/Plugins/topsky/Documentation/Latex/TOPLIS/TOPLIS Manual.synctex.gz
LPPC/Plugins/topsky/Documentation/Latex/TOPLIS/TOPLIS Manual.toc
LPPC/Settings/ArrivalList.txt
LPPC/Settings/VoiceChannels.txt
LPPC/Settings/Settings.txt
LPPC/Settings/SectorInboundList.txt
.gitignore
LPPC/Settings/SectorExitList.txt
LPPC/Settings/Hungarian Matias.txt
LPPC/Settings/ESGrammar.txt
dev.prf
ipaddr_local.txt
VATCANBookings.dll
Thumbs.db
LPPC/Plugins/topsky/Documentation/Latex/TOPLIS/TOPLIS Manual.synctex(busy)
.sentry-native/metadata
.sentry-native/settings.dat
.sentry-native/69a976be-3f2d-411f-9f65-2f8f4af3ab8b.run/__sentry-breadcrumb1
.sentry-native/69a976be-3f2d-411f-9f65-2f8f4af3ab8b.run/__sentry-breadcrumb2
.sentry-native/69a976be-3f2d-411f-9f65-2f8f4af3ab8b.run/__sentry-event
crashpad_handler.exe
EuroScopePrepair3DConnector.exe
sentry.dll
UnicodeTools.dll
